<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Cadastro Guia</title>

  <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
  <div id="container">
    <img src="https://i.ibb.co/Fxrp5TC/icone-padrao-2021.png" width="50" alt="Logo Guia">
    <h1 id="titulo">Cadastro de Comércio Premiun</h1>
  </div>

  <br>

    <form action="/base.html" method="post">
      <fieldset class="grupo">
        <div class="campo">
          <label for="endereco">Rua/Avenida</label>
          <input type="text" name="endereco" id="endereco" required>
        </div>

        <div class="campo">
          <label for="bairro">Bairro</label>
          <input type="text" name="bairro" id="bairro" required>
        </div>
        
        <div class="campo">
          <label for="numeroEndereco">Número</label>
          <input type="text" name="numeroEndereco" id="numeroEndereco" required>
        </div>
        
        <div class="campo">
          <label for="cidade">Cidade</label>
          <input type="text" name="cidade" id="cidade" required>
        </div>
      </fieldset>

      <fieldset class="grupo">
        <div id="telefone">
          <div class="campo">
            <label for="dddTelefone">DDD</label>
            <input type="text" maxlength="2" name="dddTelefone" id="dddTelefone">
          </div>

          <div class="campo">
            <label for="numeroTelefone">Número</label>
            <input type="text" maxlength="9" name="numeroTelefone" id="numeroTelefone">
          </div>
        </div>
      </fieldset>

        <div id="imageContainer">
          <div class="campo" id="imageURL">
            <label for="image">ImageURL</label>
            <input type="url" name="image" id="image">
          </div>
        </div>

      <fieldset class="grupo">
        <div class="campo">
          <label for="cardapio">Cardápio</label>
          <input type="url" name="cardapio" id="cardapio">
        </div>

        <div class="campo">
          <label for="site">Site</label>
          <input type="url" name="site" id="site">
        </div>

        <div class="campo">
          <label for="facebook">Facebook</label>
          <input type="url" name="facebook" id="facebook">
        </div>

        <div class="campo">
          <label for="instagram">Instagram</label>
          <input type="url" name="instagram" id="instagram">
        </div>
        
        <div class="campo">
          <label for="email">Email</label>
          <input type="email" name="email" id="email">
        </div>
      </fieldset>

        <div class="campo">
          <label for="IframeMaps">Iframe Maps</label>
          <input type="url" name="IframeMaps" id="IframeMaps">
        </div>     
      
    <button type="submit" id="botao" class="botao">Enviar</button>
    </form>
</body>
</html>